<form
    #form="ngForm"
    (ngSubmit)="addKategoriaPosilkow(categoryName.value)"
    class="form-inline air">
    <div class="form-group">
        <input
            name="nazwaKategorii"
            type="text"
            class="form-control"
            #categoryName
            pInputText
            ngModel
            required>
    </div>
    <button
        type="submit"
        pButton
        icon="fa-plus"
        iconPos="left"
        label="Dodaj kategorię posiłku"
        [disabled]="!form.valid"></button>
</form>
<p-dataTable [value]="kategoriePosilkow$ | async">
    <p-column header="Nazwa">
        <ng-template let-item="rowData" pTemplate="body">
            <p-inplace closable="closable">
                <span pInplaceDisplay>
                    {{item.name}}
                </span>
                <span pInplaceContent>
                    <input
                        #updateInput
                        type="text"
                        [value]="item.name"
                        pInputText
                        (keyup.enter)="updateKategoriaPosilkow(item.$key, updateInput.value)">
                    <button
                        (click)="updateKategoriaPosilkow(item.$key, updateInput.value)"
                        type="button"
                        class="ui-button-success"
                        pButton
                        icon="fa-save"
                        iconPos="left"></button>
                </span>
            </p-inplace>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">
        <ng-template let-kategoria="rowData" pTemplate="body">
            <button
                (click)="removeKategoriaPosilkow(kategoria)"
                class="ui-button-danger"
                type="button"
                pButton
                icon="fa-remove"></button>
        </ng-template>
    </p-column>
</p-dataTable>
