.przepis {
    &__header {
        margin: 1rem 0 2rem;
        align-items: flex-end;
        display: flex;

        &__title {
            margin: 0;
        }

        &__description {
            font-size: 2rem;
            display: flex;
            flex-direction: row;
            margin: 0 0 0 3rem;

            &:before,
            &:after {
                color: $color-gray-light;
            }

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }

            div + div:before {
                content: '/';
                color: $color-gray-light;
                padding: 0 10px;
            }
        }
    }
}
