<h1>Lista składników</h1>
<p-dataTable [value]="skladniki" #dt>
    <p-column
        field="nazwa"
        header="Nazwa"
        [sortable]="true"
        [filter]="true"
        filterMatchMode="contains">
        <ng-template let-item="rowData" pTemplate="body">
            <a [routerLink]="['/panel/skladnik', item.slug]">{{item.nazwa}}</a>
        </ng-template>
    </p-column>
    <p-column
        header="Kategoria"
        field="kategoria"
        [filter]="true"
        filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown
                [options]="kategorieSkladnikow"
                [autoWidth]="false"
                placeholder="Wybierz kategorię"
                (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
                styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
        <ng-template let-item="rowData" pTemplate="body">
            {{item.kategoriaName}}
        </ng-template>
    </p-column>
    <p-column
        header="Kalorie w 100g"
        [sortable]="true"
        field="kalorie">
    </p-column>
    <p-column
        header="Tłuszcz"
        [sortable]="true"
        field="tluszcz">
    </p-column>
    <p-column
        header="Białko"
        [sortable]="true"
        field="bialko">
    </p-column>
    <p-column
        header="Węglowodany"
        [sortable]="true"
        field="weglowodany">
    </p-column>
    <p-column
        header="Cholesterol"
        [sortable]="true"
        field="cholesterol">
    </p-column>
</p-dataTable>
