.ui-datatable {
    .ui-datatable-thead {
        > tr > th {
            overflow: visible;
        }
    }

    .col-button {
        width: calc(32px + 1.5rem);

        &--double {
            width: calc(70px + 1.5rem);
        }
    }

    .ui-row-toggler {
        font-size: 2rem;
    }
}
