.ui-growl {
    width: auto;
    max-width: 70vw;

    .ui-growl-icon-close {
        display: none;
    }

    .ui-growl-image {
        font-size: 1.6rem;
        top: .8rem;
        left: .8rem;
    }

    .ui-growl-title {
        margin: 0;
        padding: 0;
    }

    .ui-growl-message {
        white-space: nowrap;
        padding: 0;
        margin: 0 1.5rem;
    }
}
