p-tabMenu + .panel {
    margin-top: -1px;
}

.ui-widget.ui-tabmenu {
    padding-left: 1rem;
    background: transparent;

    .ui-widget-header {
        background: transparent;
    }

    .ui-tabmenu-nav {
        padding: 0;
        border: 0 none;

        .ui-tabmenuitem  {
            border-radius: 6px 6px 0 0;
        }
    }
}
