<h1>Lista przepisów</h1>
<p-dataTable [value]="przepisy$ | async">
    <p-column
        header="Nazwa"
        [sortable]="true"
        field="nazwa">
        <ng-template let-item="rowData" pTemplate="body">
            <a [routerLink]="['/przepis', item.slug]">{{item.nazwa}}</a>
        </ng-template>
    </p-column>
</p-dataTable>
