<h1>Lista przepisów</h1>
<p-dataTable [value]="przepisy$ | async">
    <p-column
        header="Nazwa"
        [sortable]="true"
        field="nazwa">
        <ng-template let-item="rowData" pTemplate="body">
            <a [routerLink]="['/panel/przepis', item.slug]">{{item.nazwa}}</a>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">
        <ng-template let-przepis="rowData" pTemplate="body">
            <button
                (click)="removePrzepis(przepis)"
                class="ui-button-danger"
                type="button"
                pButton
                icon="fa-remove"></button>
        </ng-template>
    </p-column>
</p-dataTable>
