.nav {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    margin: 0;

    li {
        flex-shrink: 0;
        position: relative;
        overflow: hidden;

        .btn {
            white-space: nowrap;
            padding: 10px 15px;
            background: transparent;
            border: 0 none;
            border-radius: 0;
            position: relative;
            z-index: 1;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(100%);
                transition: all .3s;
                z-index: -1;
            }
        }

        &.active,
        & .btn:hover,
        & .btn:focus {
            background: transparent;

            &:after {
                transform: translateY(0);
            }
        }
    }

    &--client {
        background: $color-green;
        border-bottom: 2px solid #073808;

        nav & .btn {
            color: $color-white;
            border-right: 1px solid #09480b;

            &:after {
                background: darken($color-green, 10%);
            }
        }

        .btn-access {
            border-left: 1px solid #09480b;
            border-right: 0 none;
        }
    }

    &--admin {
        background: $color-yellow;
        border-bottom: 2px solid #c3af72;

        nav & .btn {
            color: $color-grey;
            border-right: 1px solid #d4c084;

            &:after {
                background: darken($color-yellow, 10%);
            }
        }
    }

    &__wrapper {
        margin: 0 0 15px;
    }

    li#{&}__user-name {
        display: flex;
        align-items: center;
        color: $color-white;
        padding: 0 15px;
    }

    &__air-left {
        margin-left: auto;
    }
}
