<h1>Dodaj składnik</h1>
<form
    #form="ngForm"
    (ngSubmit)="addSkladnik(form.value)"
    class="form-horizontal">
    <div class="form-group">
        <label
            for="nazwa"
            class="col-sm-2 control-label">Nazwa składnika</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="nazwa"
                name="nazwa"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="slug"
            class="col-sm-2 control-label">Identyfikator</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="slug"
                name="slug"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="kategoria"
            class="col-sm-2 control-label">Kategoria</label>
        <div class="col-sm-10">
            <p-dropdown
                name="kategoria"
                id="kategoria"
                [options]="kategorieSkladnikow$ | async"
                [autoWidth]="false"
                placeholder="Wybierz kategorię"
                ngModel
                required>
            </p-dropdown>
        </div>
    </div>
    <div class="form-group">
        <label
            for="kalorie"
            class="col-sm-2 control-label">Kalorie</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="kalorie"
                name="kalorie"
                placeholder="w 100g"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="tluszcz"
            class="col-sm-2 control-label">Tłuszcz (g)</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="tluszcz"
                name="tluszcz"
                placeholder="w 100g"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="cholesterol"
            class="col-sm-2 control-label">Cholesterol (g)</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="cholesterol"
                name="cholesterol"
                placeholder="w 100g"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="sod"
            class="col-sm-2 control-label">Sód (g)</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="sod"
                name="sod"
                placeholder="w 100g"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="potas"
            class="col-sm-2 control-label">Potas (g)</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="potas"
                name="potas"
                placeholder="w 100g"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="weglowodany"
            class="col-sm-2 control-label">Węglowodany (g)</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="weglowodany"
                name="weglowodany"
                placeholder="w 100g"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="bialko"
            class="col-sm-2 control-label">Białko (g)</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="bialko"
                name="bialko"
                placeholder="w 100g"
                ngModel
                required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                type="submit"
                pButton
                icon="fa-plus"
                iconPos="left"
                label="Dodaj składnik"
                [disabled]="!form.valid"></button>
        </div>
    </div>
</form>
