<nav class="nav__wrapper">
    <ul class="nav nav--client">
        <li *ngFor="let menuItem of menuItems.all"
            routerLinkActive="active">
            <a [routerLink]="menuItem.url" class="btn">{{menuItem.label}}</a>
        </li>
        <li *ngIf="authService.user.isLogged" class="nav__user-name nav__air-left">{{authService.user.displayName}}</li>
        <li *ngIf="authService.user.isLogged" class="btn-access"><button class="btn" (click)="logout()">Wyloguj</button></li>
        <li *ngIf="!authService.user.isLogged" class="btn-access nav__air-left"><button class="btn" (click)="login()">Zaloguj</button></li>
    </ul>
    <ul class="nav nav--admin" *ngIf="authService.user.isLogged">
        <li *ngFor="let menuItem of menuItems.private"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="menuItem.url" class="btn">{{menuItem.label}}</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p-growl [value]="messagesService.messages"></p-growl>
