<div *ngIf="przepis">
    <header class="przepis__header">
        <h1 class="przepis__header__title">{{przepis.nazwa}}</h1>
        <div *ngIf="przepis.skladnikiSum.kalorie || przepis.weight" class="przepis__header__description">
            <div *ngIf="przepis.skladnikiSum.kalorie">{{przepis.skladnikiSum.kalorie}} kcal</div>
            <div *ngIf="przepis.weight">{{przepis.weight}} g</div>
        </div>
    </header>
    <div class="row">
        <div class="col-sm-6">
            <section class="air">
                <h2>Sposób przygotowania</h2>
                <div [innerHTML]="przepis.sposobPrzygotowania"></div>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="air">
                <h2>Składniki</h2>
                <p-dataTable
                    [value]="przepis.skladniki"
                    expandableRows="true">
                    <p-column
                        field="skladnik.nazwa"
                        header="Nazwa"
                        [sortable]="true">
                    </p-column>
                    <p-column
                        field="ilosc"
                        header="Ilość (g)"
                        [sortable]="true">
                        <ng-template let-item="rowData" pTemplate="body">
                            {{item.ilosc}} <span *ngIf="item.opis">({{item.opis}})</span>
                        </ng-template>
                    </p-column>
                    <p-column
                        field="skladnikCalculated.kalorie"
                        header="Kalorie (kcal)"
                        [sortable]="true">
                    </p-column>
                    <p-column expander="true" styleClass="col-button"></p-column>
                    <ng-template let-skladnik pTemplate="rowexpansion">
                        <p-chart type="pie" [data]="skladnik.skladnikChart"></p-chart>
                    </ng-template>
                </p-dataTable>
            </section>
            <section>
                <p-chart type="pie" [data]="chart"></p-chart>
            </section>
        </div>
    </div>
</div>
