<h1>Edytuj przepis</h1>
<form
    *ngIf="przepis"
    #form="ngForm"
    (ngSubmit)="updatePrzepis(przepis)"
    class="form-horizontal">
    <div class="form-group">
        <label
            for="nazwa"
            class="col-sm-2 control-label">Nazwa</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="nazwa"
                name="nazwa"
                [(ngModel)]="przepis.nazwa"
                required>
        </div>
    </div>
    <div class="form-group">
        <label
            for="slug"
            class="col-sm-2 control-label">Identyfikator</label>
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="slug"
                name="slug"
                [(ngModel)]="przepis.slug">
        </div>
    </div>
    <div class="form-group">
        <label
            for="sposobPrzygotowania"
            class="col-sm-2 control-label">Sposób przygotowania</label>
        <div class="col-sm-10">
            <p-editor
                id="sposobPrzygotowania"
                name="sposobPrzygotowania"
                [(ngModel)]="przepis.sposobPrzygotowania">
                <p-header>
                    <span class="ql-formats">
                        <select class="ql-header">
                            <option selected>Tekst</option>
                            <option value="3">Nagłówek</option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-align">
                            <option selected></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>
                        </select>
                    </span>
                </p-header>
            </p-editor>
        </div>
    </div>
    <div class="form-group">
        <label
            for="skladniki"
            class="col-sm-2 control-label">Składniki</label>
        <div class="col-sm-10">
            <p-dataTable [value]="przepis.skladnikiKeys" sortField="skladnik.nazwa">
                <p-column
                    field="skladnik.nazwa"
                    header="Nazwa"
                    [sortable]="true"></p-column>
                <p-column
                    field="ilosc"
                    header="Ilość (g)"
                    [sortable]="true"></p-column>
                <p-column
                    field="opis"
                    header="Opis"></p-column>
                <p-column styleClass="col-button--double">
                    <ng-template let-skladnik="rowData" pTemplate="body">
                        <button
                            (click)="removeSkladnik(skladnik)"
                            class="ui-button-danger"
                            type="button"
                            pButton
                            icon="fa-remove"></button>
                        <button
                            (click)="editSkladnik(skladnik)"
                            class="ui-button-success"
                            type="button"
                            pButton
                            icon="fa-edit"></button>
                    </ng-template>
                </p-column>
                <p-footer>
                    <button
                        type="button"
                        pButton
                        icon="fa-plus"
                        (click)="showDialogSkladniki()"
                        label="Dodaj składnik"></button>
                </p-footer>
            </p-dataTable>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                type="submit"
                pButton
                icon="fa-plus"
                iconPos="left"
                label="Zapisz zmiany"
                [disabled]="!form.valid"></button>
        </div>
    </div>
</form>

<p-dialog
    header="Dodawanie składnika"
    [(visible)]="displayDialog"
    [responsive]="true"
    showEffect="fade"
    [modal]="true"
    [width]="500">
    <div class="popup__form form-horizontal" *ngIf="selectedSkladnik">
        <div class="form-group">
            <label for="nazwa" class="col-sm-2 control-label">
                Nazwa
            </label>
            <div class="col-sm-10">
                <p-autoComplete
                    [(ngModel)]="selectedSkladnik.skladnik"
                    [suggestions]="filteredSkladniki"
                    (completeMethod)="findSkladnik($event)"
                    field="nazwa"></p-autoComplete>
            </div>
        </div>
        <div class="form-group">
            <label for="ilosc" class="col-sm-2 control-label">
                Ilość (g)
            </label>
            <div class="col-sm-10">
                <input pInputText
                        id="ilosc"
                        [(ngModel)]="selectedSkladnik.ilosc"
                        class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="opis" class="col-sm-2 control-label">
                Opis
            </label>
            <div class="col-sm-10">
                <input pInputText
                        id="opis"
                        [(ngModel)]="selectedSkladnik.opis"
                        class="form-control" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="popup__buttons">
            <button
                type="button"
                pButton
                icon="fa-check"
                (click)="addOrEditSkladnik(selectedSkladnik)"
                label="Dodaj składnik"></button>
        </div>
    </p-footer>
</p-dialog>
