$color-green: #0b5f0e;
$color-yellow: #e0c985;
$color-grey: #282529;
$color-white: #E0E1DE;
$color-gray-light: #e6dcc8;

$data-bialko: #C0F2D2;
$data-cholesterol: #1DB8E8;
$data-potas: #FFDF29;
$data-sod: #FF3E2C;
$data-tluszcz: #BA5000;
$data-weglowodany: #77A600;
